version: '3.8'

services:
  stocksapi:
    build:
      context: ./backend/StocksApi
      dockerfile: Dockerfile
    ports:
      - "60480:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    ports:
      - "5173:80"
    depends_on:
      - stocksapi